<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <title>Landing Page</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <img src="Images/Kurtis.jpg" class="logo" >
            <div id="rightOne">
                <select>
                    <option value="">EN</option>
                    <option value="">RU</option>
                </select>
                <button
                 style="background: blue; color: white;">Sign up</button>
                <button
                 style="background: white;border-color: #919191; color: #919191;">Log In</button>
                <img src="Images/Stripes.jpg" id="ham"></img>
            </div>
        </div>
        <div class="content">
            <div id="Mot">
                <h1 id="Motto">Make
                    learning fun!</h1>

                <p id="undMotto">Any subject, in any language, on any
                    device, for all ages!</p>

                <button id="signUp">Sign up for free</button>

                <div>
                    <h5 id="downl">Or download the app:</h5>
                    <img src="Images/AppStore.jpg" class="store">
                    <img src="Images/GooglePlay.jpg" class="store">
                </div>
            </div>
            <img src="Images/Image.jpg" id="CImage"></img>      
        </div>
    </div>
</body>
</html>